@media only screen and (min-width: 1201px) {

    nav.nav__menu .nav__list li {
        position: relative;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }
    
    nav.nav__menu .nav__list li .toggle {
        margin-left: var(--spacing-sm);
        display: none;
    }

    nav.nav__menu .nav__list>li {
        padding: 26px 20px;
    }

    nav.nav__menu .nav__list li ul {
        position: absolute;
        left: 0;
        top: 100%;
        background-color: var(--light-color);
        min-width: 240px;
        opacity: 0;
        /* Ensures that the dropdown is hidden initially */
        visibility: hidden;
        transition: opacity var(--transition-normal);
        /* Smooth transition for dropdown */
        box-shadow: 0 0 0 1px var(--primary-color-5) inset;
        border-radius: var(--round-lg);
        padding: var(--spacing-lg) 0;
    }

    nav.nav__menu .nav__list li li {
        padding: 0px var(--spacing-lg);
    }

    nav.nav__menu .nav__list li li ul {
        left: 100%;
        top: calc(0px - var(--spacing-lg));
    }

    nav.nav__menu .nav__list li li a {
        padding: var(--spacing-xs) var(--spacing-xs);
    }

    nav.nav__menu .nav__list li li a {
        width: calc(100% - 30px);
    }

    nav.nav__menu .nav__list li li .toggle {
        text-align: right;
        width: 30px;
        margin: 0;
    }

    nav.nav__menu .nav__list>li>ul:before {
        content: "";
        position: absolute;
        left: 18%;
        bottom: 100%;
        border-bottom: 10px solid var(--light-color);
        border-left: 7px solid transparent;
        border-right: 7px solid transparent;
    }

    nav.nav__menu .nav__list li:hover>ul {
        opacity: 1;
        /* Show dropdown on hover */
        visibility: visible;
    }

    nav.nav__menu .nav__list li a .arrow {
        margin-left: var(--spacing-xs);
    }

    nav.nav__menu .nav__list li ul.mega__menu li {
        width: 33.33%;
        padding: var(--spacing-md);
    }

    nav.nav__menu .nav__list li.mega__item {
        position: static;
    }
    nav.nav__menu .nav__list li ul.mega__menu {
        left: 0;
        top: 100%;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        padding: var(--spacing-lg);
    }

    .nav__menu {
        display: inline-block !important;
    }

}

@media only screen and (max-width: 1200px) {
    .nav__menu {
        display: none;
    }
    
    nav.nav__menu .nav__list li a .arrow {
        display: none;
    }
    nav.nav__menu .nav__list li .toggle {
        display: inline-block;
    }

    .navbar__area .nav__menu {
        position: absolute;
        left: 0;
        top: 100%;
        width: 100%;
        margin: 0px;
    }

    .navbar__area .nav__menu .nav__list {
        background-color: var(--light-color);
        border-radius: var(--round-lg);
        box-shadow: var(--shadow-line);
        flex-wrap: wrap;
        border: 1px solid var(--black-color-5);
    }

    nav.nav__menu .nav__list>li>a {
        color: var(--black-color);
    }

    .navbar__area .nav__menu .nav__list li {
        width: 100%;
    }

    .nav__menu .nav__list > li {
        padding: 12px 24px;
        border-bottom: 1px solid var(--black-color-5);
    }

    .nav__menu .nav__list > li:last-child {
        border-bottom: none;
    }

    .nav__menu .nav__list li {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }
    
    .nav__menu .nav__list > li ul {
        width: 100%;
        padding-top: var(--spacing-lg);
        padding-bottom: var(--spacing-lg);
        padding-left: var(--spacing-lg);
        display: none;
    }
    
    .navbar__area .nav__menu .nav__list li .toggle {
        margin-left: auto;
        width: 26px;
        height: 26px;
        border: 1px solid var(--black-color-10);
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    nav.nav__menu .nav__list li ul.mega__menu li a .icon {
        width: 50px;
        height: 50px;
        min-width: 50px;
        border-radius: var(--round-sm);
    }
    
    nav.nav__menu .nav__list li ul.mega__menu li a .title {
        font-size: 16px;
        margin-bottom: 2px;
    }
    
    .nav__menu .nav__list > li ul li:not(:last-child) {
        margin-bottom: var(--spacing-lg);
    }
}